<%- include('./includes/header') -%>

<%- include('./includes/jumbotron', {'sivuteksti' : 'blogisivu'}) -%>

<%- include('./includes/navbar') -%> 

<div class="container">
    <% if (kayttaja) { %>
        <div class="row mt-4">
            <div class="col-4"></div>
            <div class="col-4"><a href="/lisaauusi" class="btn btn-dark">Lisää uusi kirjoitus</a></div>
            <div class="col-4"></div>
        </div>
    <% } %>

    <% if (tekstit) { %>

        <% tekstit.forEach(teksti => { %>
            <div class="container w-75 mb-4 mt-4"> 
                <h4 class="mb-4"><%=teksti.otsikko%> <small><%=teksti.pvm.getDate()%>.<%=teksti.pvm.getMonth()+1%>.<%=teksti.pvm.getFullYear()%></small></h4>
                <p> <%-teksti.sisalto%> </p>
            </div>
        <% }) %>
    <% } else { %>

        <div class="alert alert-dark mt-4">Jokin meni pieleen: blogitekstejä ei löytynyt!</div>

    <%  } %>


</div>


<%- include('./includes/footer') -%>